@media only screen and (max-width: 600px) {
    .productosHome{
        padding-left: 10%;
        padding-right: 5%;
        }
}
.btn{
    background-color: $backgroud-color;
    color:$text-color-2;
    border-color: $backgroud-color;
}

.btn:hover{
    background-color: $backgroud-color2;
    color:$text-color;
    border-color: $backgroud-color2;
}
.subtitulo__home{
    padding-top: 2%;
    padding-bottom: 2%;
    text-transform: uppercase;
}