@media only screen and (max-width: 600px) {
    .productosHome{
        margin-left: 15%;
        }
}
.btn{
    background-color: $backgroud-color;
    color:$text-color-2;
    border-color: $backgroud-color;
}

.btn:hover{
    background-color: $backgroud-color2;
    color:$text-color;
    border-color: $backgroud-color2;
}
